@font-face {
  font-family: opensanshebrew;
  src: url("../fonts/OpenSansHebrew-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: opensanshebrew;
  src: url("../fonts/OpenSansHebrew-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: opensanshebrew;
  src: url("../fonts/OpenSansHebrew-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: opensanshebrew;
  src: url("../fonts/OpenSansHebrew-ExtraBold.ttf");
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "opensanshebrew";
}

.header__logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 48px;
  z-index: 99;
}

.major {
  position: relative;
  display: grid;
  grid-template-columns: 45% 55%;
  background-image: url("../img/main-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 70px 250px 70px;
  overflow: hidden;
}
.major::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  right: 0;
  bottom: -1px;
  background-image: url("../img/main-bg-wave.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.major-text {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1100px;
}
.major-logo {
  width: 450px;
  height: 150px;
  margin: 0 0 50px 0;
}
.major-logo img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.major-title {
  direction: rtl;
  font-size: 36px;
  font-weight: 400;
  color: #1e2256;
  text-align: center;
  margin: 0;
}

.advantages {
  color: #1e2256;
  padding: 50px 30px 40px 30px;
}
.advantages-wrapper {
  max-width: 1350px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.advantages-title {
  font-size: 38px;
  font-weight: 900;
  margin: 0 0 40px 0;
  direction: rtl;
}
.advantages-block {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  margin: 0 0 60px 0;
}
.advantages-point {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 262px;
  height: 258px;
  border-radius: 50%;
  box-shadow: 0px 1px 6px #ccc;
}
.advantages-point:not(:last-child) {
  margin: 0 0 0 38px;
}
.advantages-point__text {
  font-size: 40px;
  font-weight: 900;
}
.advantages-subtitle {
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 60px 0;
  direction: rtl;
}
.advantages-attraction {
  font-size: 60px;
  font-weight: 900;
  color: #ff0000;
}

.laser-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(8, 10, 28);
  background: linear-gradient(352deg, rgb(8, 10, 28) 0%, rgb(10, 13, 64) 50%, rgb(9, 10, 114) 100%);
  padding: 50px 30px;
  min-height: 500px;
  direction: rtl;
  overflow: hidden;
}
.laser-form::before, .laser-form::after {
  content: "";
  position: absolute;
  width: 101%;
  height: 50%;
  right: -2px;
  left: -2px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}
.laser-form::before {
  top: -2px;
  background-image: url("../img/info-bg-wave-top.svg");
  background-position: top;
}
.laser-form::after {
  bottom: -2px;
  background-image: url("../img/info-bg-wave-top.svg");
  transform: rotate(180deg);
}
.laser-form__title {
  position: relative;
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  margin: 0 0 50px 0;
  z-index: 1;
  text-align: center;
}
.laser-form__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
}
.laser-form__input, .laser-form__button {
  width: 400px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 50px;
}
.laser-form__input {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  height: 80px;
  transform: scale(0.99);
  transition: all 0.1s ease;
}
.laser-form__input:not(:last-child) {
  margin: 0 0 0 35px;
}
.laser-form__input::placeholder {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.laser-form__input:focus {
  transform: scale(1);
}
.laser-form__input:focus-visible {
  outline: none;
}
.laser-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 50px;
  font-weight: 700;
  background-color: #fc0203;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.laser-form__button:active, .laser-form__button:focus {
  border: none;
  outline: none;
}
.laser-form__button:hover {
  background-color: #b00102;
  text-shadow: 0px 0px 10px;
}

.specification {
  padding: 40px 80px;
}
.specification-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 100px;
  margin: 0 0 130px 0;
}
.specification-block__text {
  direction: rtl;
  max-width: 1100px;
}
.specification-block__text-title {
  color: #1e2256;
  font-size: 47px;
  font-weight: 700;
  padding: 0 0 40px 0;
  border-bottom: 7px solid #ff0000;
}
.specification-block__text-desc {
  color: #000;
  font-size: 37px;
  font-weight: 400;
}
.specification-block__image {
  width: 500px;
  height: 500px;
  border-radius: 50px;
  overflow: hidden;
}
.specification-block__image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.specification-block__list {
  padding: 15px 0 0 0;
  margin: 0;
  list-style: none;
}
.specification-block__list li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.specification-block__list li:not(:last-child) {
  margin: 0 0 25px 0;
}
.specification-block__list-text {
  margin: 0;
  padding: 0 15px 0 0;
  color: #000;
  font-size: 37px;
  font-weight: 400;
  line-height: 125%;
}
.specification-block__list-dot {
  margin: 22px 0 0 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ff0000;
  flex-shrink: 0;
  flex-grow: 0;
}
.specification-info {
  direction: rtl;
  color: #1e2256;
  text-align: center;
}
.specification-info__text {
  font-size: 46px;
  font-weight: 900;
  margin: 0 0 120px 0;
}
.specification-info__banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ff0000;
  border-radius: 100px;
  color: #fff;
  width: 80%;
  min-height: 160px;
  margin: 0 auto;
  font-size: 68px;
  font-weight: 900;
  padding: 10px 15px;
  pointer-events: none;
}
.specification-info__banner br {
  display: none;
}

.laser-footer {
  position: relative;
  padding: 200px 110px 90px 110px;
  background: rgb(9, 13, 56);
  background: linear-gradient(304deg, rgb(9, 13, 56) 0%, rgb(10, 12, 103) 55%, rgb(9, 9, 121) 100%);
  overflow: hidden;
}
.laser-footer::before {
  content: "";
  position: absolute;
  width: 101%;
  height: 150px;
  left: -2px;
  right: -2px;
  top: -2px;
  background-image: url("../img/footer-bg-wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.laser-footer__wrapper {
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: center;
}
.laser-footer__info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 30px;
}
.laser-footer__text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.laser-footer__text span {
  position: relative;
  display: block;
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  line-height: 120%;
  margin: 0 0 0 40px;
}
.laser-footer__text span:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: -20px;
  transform: translateX(-50%);
}
.laser-footer__phone {
  margin: 0 0 0 20px;
}
.laser-footer__phone a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  position: relative;
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
}
.laser-footer__phone a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.laser-footer__phone a:hover {
  text-shadow: 0px 0px 3px #fff;
}
.laser-footer__phone a:hover::before {
  transform: scale(1);
  transform-origin: bottom left;
}
.laser-footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.laser-footer__social a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.laser-footer__social a:not(:last-child) {
  margin: 0 20px 0 0;
}
.laser-footer__social a img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.2s ease;
  transform: scale(1);
}
.laser-footer__social a img:hover {
  box-shadow: 0px 0px 10px #fff;
  transform: scale(1.05);
}

@media screen and (max-width: 1440px) {
  .major-title {
    font-size: 31px;
  }
}
@media screen and (max-width: 1200px) {
  .header__logo img {
    width: 300px;
    height: 120px;
  }
  .major {
    padding: 30px 50px 70px 50px;
    min-height: 500px;
    background-position: left;
    grid-template-columns: 1fr;
  }
  .major::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    right: 0;
    bottom: 2px;
    left: 0;
    background-color: #2e2e2e;
    opacity: 0.4;
  }
  .major::after {
    background-image: url("../img/main-bg-wave-mobile.svg");
    background-position: top;
    width: 101%;
    max-height: 100px;
    left: -2px;
    right: -2px;
    z-index: 2;
  }
  .major-text {
    position: relative;
    grid-column: 1/2;
  }
  .major-logo {
    display: none;
  }
  .major-title {
    font-size: 34px;
    line-height: 160%;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    max-width: 85%;
  }
  .advantages-title {
    font-size: 35px;
  }
  .advantages-point {
    width: 200px;
    height: 200px;
    box-shadow: 0px 1px 10px #ccc;
  }
  .advantages-point__text {
    font-size: 32px;
  }
  .advantages-subtitle {
    font-size: 31px;
    max-width: 85%;
    margin: 0 auto 30px;
  }
  .advantages-attraction {
    font-size: 50px;
  }
  .laser-form {
    padding: 100px 30px;
  }
  .laser-form__title {
    font-size: 45px;
  }
  .laser-form__wrapper {
    width: 80%;
    flex-direction: column;
  }
  .laser-form__input:not(:last-child) {
    margin: 0 0 20px 0;
    width: 100%;
  }
  .laser-form__input:last-child {
    background-color: #fff;
    color: #000;
  }
  .laser-form__button {
    width: 100%;
  }
  .specification-block {
    flex-direction: column;
    align-items: center;
    margin: 0 0 50px 0;
  }
  .specification-block:nth-child(2) {
    flex-direction: column-reverse;
  }
  .specification-block__image {
    width: 380px;
    height: 380px;
  }
  .specification-block__text-title {
    font-size: 37px;
    padding: 0 0 30px 0;
    border-bottom: 5px solid #ff0000;
  }
  .specification-block__text-desc {
    font-size: 36px;
    line-height: 125%;
  }
  .specification-info__text {
    font-size: 38px;
    margin: 0 0 70px 0;
  }
  .specification-info__text br {
    display: none;
  }
  .specification-info__banner {
    width: 100%;
    font-size: 50px;
    text-shadow: 0px 0px 3px #fff;
  }
  .specification-info__banner br {
    display: block;
  }
  .laser-footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 50px 30px 50px 30px;
    min-height: 330px;
  }
  .laser-footer::before {
    background-image: url("../img/footer-bg-wave-mobile.svg");
    background-position: bottom;
    height: 60px;
  }
  .laser-footer__wrapper {
    flex-direction: column;
  }
  .laser-footer__info {
    margin: 0 0 35px 0;
  }
  .laser-footer__text span {
    font-size: 30px;
  }
  .laser-footer__phone a {
    font-size: 30px;
  }
}
@media screen and (max-width: 992px) {
  .major {
    padding: 30px 50px 90px 50px;
  }
  .major-title {
    font-size: 32px;
  }
  .major-title br {
    display: none;
  }
  .advantages {
    padding: 40px 30px;
  }
  .advantages-title {
    font-size: 30px;
  }
  .advantages-point {
    width: 170px;
    height: 165px;
  }
  .advantages-point__text {
    font-size: 28px;
    line-height: 110%;
  }
  .advantages-subtitle {
    font-size: 28px;
    line-height: 120%;
  }
  .advantages-attraction {
    font-size: 45px;
  }
  .laser-form__title {
    font-size: 40px;
    margin: 0 0 40px 0;
  }
  .laser-form__input {
    height: 70px;
    font-size: 26px;
  }
  .laser-form__input::placeholder {
    font-size: 25px;
  }
  .specification-block__image {
    width: 320px;
    height: 320px;
  }
  .specification-block__text-title {
    font-size: 30px;
  }
  .specification-block__text-desc {
    font-size: 28px;
  }
  .specification-block__list-text {
    font-size: 28px;
    padding: 0 10px 0 0;
  }
  .specification-info__text {
    font-size: 34px;
    margin: 0 0 50px 0;
  }
  .specification-info__banner {
    font-size: 40px;
    line-height: 120%;
  }
  .laser-footer {
    min-height: 290px;
  }
  .laser-footer__info {
    margin: 0 0 30px 0;
  }
  .laser-footer__text span {
    font-size: 21px;
    margin: 0 0 0 30px;
  }
  .laser-footer__text span::after {
    left: -15px;
    width: 2px;
  }
  .laser-footer__phone {
    margin: 0;
  }
  .laser-footer__phone a {
    font-size: 21px;
  }
}
@media screen and (max-width: 576px) {
  .major {
    padding: 35px 10px;
    background-image: url("../img/main-bg_mobile.png");
    min-height: 390px;
  }
  .major::after {
    max-height: 50px;
  }
  .major-text {
    justify-content: flex-start;
    padding-top: 40px;
  }
  .major-title {
    font-size: 20px;
    line-height: normal;
  }
  .advantages-title {
    font-size: 20px;
    margin: 0 0 30px 0;
  }
  .advantages-point {
    width: 120px;
    height: 115px;
    overflow: hidden;
    padding: 15px;
  }
  .advantages-point:not(:last-child) {
    margin: 0 0 0 12px;
  }
  .advantages-point__text {
    font-size: 22px;
  }
  .advantages-block {
    margin: 0 0 40px 0;
  }
  .advantages-subtitle {
    font-size: 17px;
  }
  .advantages-attraction {
    font-size: 34px;
  }
  .laser-form {
    padding: 70px 20px;
    min-height: 400px;
  }
  .laser-form:before, .laser-form:after {
    width: 101%;
    height: 50px;
    left: -1px;
    right: -1px;
  }
  .laser-form__title {
    font-size: 25px;
  }
  .laser-form__wrapper {
    width: 90%;
  }
  .laser-form__input {
    padding: 8px 20px 8px 15px;
    height: 40px;
    border-radius: 16px;
    font-size: 18px;
  }
  .laser-form__input::placeholder {
    font-size: 18px;
    font-weight: 400;
  }
  .laser-form__input:not(:last-child) {
    margin: 0 0 10px 0;
  }
  .laser-form__button {
    border-radius: 16px;
    height: 40px;
    font-size: 24px;
  }
  .specification {
    padding: 30px 20px;
  }
  .specification-block {
    margin: 0 0 30px 0;
  }
  .specification-block__image {
    width: 220px;
    height: 220px;
  }
  .specification-block__text-title {
    font-size: 19px;
    padding: 0 0 15px 0;
    border-bottom: 3px solid #ff0000;
  }
  .specification-block__text-desc {
    font-size: 18px;
  }
  .specification-block__list-dot {
    margin: 8px 0 0 0;
    width: 5px;
    height: 5px;
  }
  .specification-block__list-text {
    font-size: 19px;
  }
  .specification-info__text {
    font-size: 19px;
  }
  .specification-info__banner {
    font-size: 25px;
    min-height: 70px;
  }
  .laser-footer {
    padding: 60px 30px 30px 30px;
    min-height: 180px;
  }
  .laser-footer:before {
    height: 40px;
  }
  .laser-footer__info {
    margin: 0 0 20px 0;
  }
  .laser-footer__text span {
    font-size: 12px;
    margin: 0 0 0 20px;
    line-height: normal;
  }
  .laser-footer__text span:after {
    left: -10px;
  }
  .laser-footer__phone a {
    font-size: 12px;
    line-height: normal;
  }
  .laser-footer__social a {
    width: 25px;
    height: 25px;
  }
  .laser-footer__social a:not(:last-child) {
    margin: 0 10px 0 0;
  }
}
@media screen and (max-width: 425px) {
  .advantages-title {
    font-size: 17px;
  }
  .advantages-subtitle {
    font-size: 16px;
  }
  .laser-footer {
    padding: 50px 10px 25px 10px;
    min-height: 170px;
  }
  .laser-footer__text span {
    font-size: 10px;
    margin: 0 0 0 10px;
  }
  .laser-footer__text span::after {
    left: -5px;
  }
  .laser-footer__phone a {
    font-size: 10px;
  }
}
@media screen and (max-width: 375px) {
  .header__logo {
    margin: 0 0 10px 0;
  }
  .header__logo img {
    width: 250px;
    height: 90px;
  }
  .major {
    min-height: 310px;
  }
  .major-title {
    font-size: 18px;
  }
  .advantages {
    padding: 30px 20px;
  }
  .advantages-title {
    font-size: 15px;
    margin: 0 0 20px 0;
  }
  .advantages-point {
    width: 80px;
    height: 75px;
  }
  .advantages-point__text {
    font-size: 14px;
  }
  .advantages-block {
    margin: 0 0 30px 0;
  }
  .advantages-subtitle {
    width: 100%;
    font-size: 13px;
    margin: 0 auto 20px;
  }
  .advantages-attraction {
    font-size: 24px;
  }
  .laser-form__title {
    font-size: 18px;
    margin: 0 0 25px 0;
  }
  .laser-form__wrapper {
    width: 100%;
  }
  .specification-block__text-title {
    font-size: 13px;
    border-bottom: 2px solid #ff0000;
  }
  .specification-block__text-desc {
    font-size: 13px;
  }
  .specification-block__list-text {
    font-size: 13px;
  }
  .specification-info__text {
    font-size: 14px;
    margin: 0 0 30px 0;
  }
  .specification-info__banner {
    font-size: 17px;
    min-height: 65px;
  }
}/*# sourceMappingURL=style.css.map */
